/* Add CSS styling here */
/* reset goes first */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
* {
    box-sizing: border-box;
    padding: 10;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}


/* gerneral styles START HERE */
body {
    line-height: 1.5;
    background-color: lightblue;
    width: 100%;
    font-family: 'Alice', serif;
    
}
section {
    padding: 40px;
}
html {
    font-size: 62.5%
}
/*  general styles END HERE */

/* nav section styles START HERE */

nav h2{
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: lightblue;
    font-size: 3rem;
    padding: 1% 2%;
    align-items: center;
    font-family: 'Righteous', cursive;
}
nav .navButtons {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}
nav .navButtons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-decoration: none;
    color: lightblue;
    background-color: white;
    padding: 2%;
    font-size: 2rem;

}
nav .navButtons a:hover {
    background-color: lightblue;
    color: white;
    animation-name: slowfade;
    animation-duration: .75s;
}
@keyframes slowfade {
    from {background-color: white}
    to {background-color: lightblue}
    from {color: lightblue}
    to {color: white;}
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    height: 100%

}

/* nav section styles END HERE */

/* header section styles START HERE*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(https://picsum.photos/1800/1800/?blur);
    height: 900px;
    background-attachment: fixed;
}
.headerContainer{
    flex-direction: column;
    justify-content: space-around;
}
h1 {
   font-size: 80px;
   color: white;
   

}
header .headerContainer h3 {
    color: white;
    padding: 0px 20px 40px 20px;
    font-size: 30px;

}
header .headerContainer a {
    padding: 20px 20px 20px 20px;
    color: lightblue;
    text-decoration: none;
    background-color: white;
    margin: 20px;

}
header .headerContainer a:hover{
    background-color: lightblue;
    color: white;
    animation-name: slowfade;
    animation-duration: .75s;
    margin: 20px;

}
@keyframes slowfade {
    from {background-color: white}
    to {background-color: lightblue}
    from {color: lightblue}
    to {color: white;}
}
/* header section styles END HERE*/
/* aboutMe section styles START HERE */
.aboutMe {
    background-image: url(https://picsum.photos/1800/1600/?blur);
    height: 800px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h4 {
    font-size: 40px;
    color: white;
    font-family: 'Righteous', cursive;

}
.aboutMe .aboutMeContainer p{
    width: 700px;

}
/* aboutMe section styles END HERE */
/* projects section syles start START HERE */
section .topRow {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
section .bottomRow {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.project1 {
    text-align: center;
}
.project2 {
    text-align: center;
}
.project3 {
    text-align: center;
}
.project4 {
    text-align: center;
}
.project5 {
    text-align: center;
}
.project6 {
    text-align: center;
}
p{
    color: white;
    font-size: 18px;
}
/* projects section styles END HERE*/
/* footer syles START HERE */
footer {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer p {
    color: lightblue;
    padding: 20px
}
footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: lightblue;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    font-size: 30px;
}
footer a:hover {
    background-color: lightblue;
    color: white;
    animation-name: slowfade;
    animation-duration: .75s;
}
footer a {
    color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h3 {
    color: lightblue;
}
@keyframes slowfade {
    from {background-color: white}
    to {background-color: lightblue}
    from {color: lightblue}
    to {color: white;}
}
/* footer syles END HERE */
/* socialLinks syles START HERE */
.socialLinks {
    text-align: center;
    margin: 20px;
}
.socialLinks a {
    text-align: center;
    text-decoration: none;
    color: lightblue;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    font-size: 12px
}
.socialLinks a:hover{
    text-decoration: underline;
    color: white;
    background-color: lightblue;
}
/* socialLinks syles END HERE */
/* media queries styles START HERE */
@media(max-width: 800px){

}

@media(max-width: 500px){

}
/* media queries styles END HERE */